<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-A01793006/blob/main/Modulo02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**APUNTES** Lists & Tuples
* **Tuples**: Son una secuencia ordenada, se expresan como elementos separados por comas entre paréntesis, no pueden cambiarse.
* **Listas**: Son una secuencia ordenada, se expresan como elementos separados por corchetes entre paréntesis, pueden cambiarse, pueden contener otras listas o tuples.

In [3]:
#Creaciòn de un tuple
a = (0,1,2,3)
print(a)

#Rangos de tuple
a[0:2]

(0, 1, 2, 3)

(0, 1)

**Para ver un rango especifico utilizar dos puntos ejem: 
RANGO INICIAL:RANGO FINAL = VALORES ENTRE DICHOS RANGOS**

In [10]:
#Creación de una Lista
b=["a","b","c"]
b[0:2]

b[0]='HOLA' #Se esta sustituyendo el valor en la lista
print(b)    #El resultado muestra la nueva lista

['HOLA', 'b', 'c']

In [15]:
#Ejercicios de 1era preguntas
A=(0,1,2,3)
print(A[3])
print(A[-1])

B=["a","b","c"]
print(B[1:])     #Si no pones un rango de terminacion, se seleccionara todo lo que esta despues del rango inicial

3
3
['b', 'c']

**---EJERCICIOS DE TUPLES---**

In [19]:
#Declaracion de Tuple:
Tuple1 = ("disco",10,1.2 )
print(Tuple1)

print(type(Tuple1)) #Corroborar que el tipo de Tuple

('disco', 10, 1.2)
<class 'tuple'>

In [20]:
#Ejercicio para imprimir los valores individuales del tuple deforma convencional
print(Tuple1[0]) #Poner un solo digito en los corchetes imprime solo la posicion indicada
print(Tuple1[1])
print(Tuple1[2])

disco
10
1.2

In [21]:
#Ejercicio para imprimir los valores individuales del tuple utilizando la forma inversa con numeros negativa
print(Tuple1[-1])
print(Tuple1[-2])
print(Tuple1[-3])

1.2
10
disco

In [22]:
#Concatenación de Tuples
Tuple2 = Tuple1 + ("hard rock", 10)
print(Tuple2)

('disco', 10, 1.2, 'hard rock', 10)

In [26]:
#Ejercicios con Tuples 2
print(Tuple2[0:3]) #Imprimir rangos de datos del Tuple
print(Tuple2[3:5])
print(len(Tuple2)) #Imprimir la longitud del Tuple

('disco', 10, 1.2)
('hard rock', 10)
5

In [29]:
#Ejercicio de Sorted: Nos ayuda a ordenar de menor a mayor los datos dentro del Tuple
Valores = (0, 9, 6, 5, 10, 8, 9, 6, 2)
ValoresOrdenados = sorted(Valores)
print(ValoresOrdenados)

[0, 2, 5, 6, 6, 8, 9, 9, 10]

In [33]:
#Ejercicios de Nested: Una tupla puede contener otra tupla así como otros tipos de datos complejos. Este proceso se llama Nested(anidamiento).
NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2))) #Declaracion de la Tupla
print(NestedT)

(1, 2, ('pop', 'rock'), (3, 4), ('disco', (1, 2)))

In [34]:
#Impresión de Tupla utilizando posiciones especificas
print("Posición 0 del Tuple:", NestedT[0]) 
print("Posición 1 del Tuple:", NestedT[1])
print("Posición 2 del Tuple:", NestedT[2]) #Se imprime la tupla que esta en la posición 2
print("Posición 3 del Tuple:", NestedT[3])
print("Posición 4 del Tuple:", NestedT[4])

Posición 0 del Tuple: 1
Posición 1 del Tuple: 2
Posición 2 del Tuple: ('pop', 'rock')
Posición 3 del Tuple: (3, 4)
Posición 4 del Tuple: ('disco', (1, 2))

In [36]:
#Impresión de Tupla utilizando posiciónes especificas dentro del rango de un Tuple
print("Rango 2, 0 del Tuple:",   NestedT[2][0]) #Se imprimen los rangos
print("Rango 2, 1 del Tuple:",   NestedT[2][1])
print("Rango 3, 0 del Tuple:",   NestedT[3][0])
print("Rango 3, 1 del Tuple:",   NestedT[3][1])
print("Rango 4, 0 del Tuple:",   NestedT[4][0])
print("Rango 4, 1 del Tuple:",   NestedT[4][1])

Rango 2, 0 del Tuple: pop
Rango 2, 1 del Tuple: rock
Rango 3, 0 del Tuple: 3
Rango 3, 1 del Tuple: 4
Rango 4, 0 del Tuple: disco
Rango 4, 1 del Tuple: (1, 2)

In [40]:
#Impresion de elementos especificos en las Tuplas
print(NestedT[2][1][0]) #Imprime el primer elemento en la segunda tupla anidada
print(NestedT[2][1][1]) #Imprime el segundo elemento en la segunda tupla anidada

print(NestedT[4][1][0]) #Imprime el primer elemento en la segunda tupla anidada
print(NestedT[4][1][1]) #Imprime el segundo elemento en la segunda tupla anidada

r
o
1
2

**--QUIZ DEL MODULO DE TUPLES--**

In [43]:
#Creación de Tuple
Tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
print(Tuple)
print('Longitud:',len(Tuple)) #Sirve para conocer la longitud del Tuple

('pop', 'rock', 'soul', 'hard rock', 'soft rock', 'R&B', 'progressive rock', 'disco')
Longitud: 8

In [44]:
#Ejercicios de Tuple
print(Tuple[3:6]) #Obtiene los valores del rango 3 a 6
print(Tuple.index("disco")) #Index encuentra la posicion de lo que se esta buscando

('hard rock', 'soft rock', 'R&B')
7

In [45]:
#Genera una lista ordenada a partir del Tuple
C_tuple = (-5, 1, -3)
C_list = sorted(C_tuple)
print(C_tuple)
print(C_list) #Tupla Ordenada

(-5, 1, -3)
[-5, -3, 1]

**EJERCICIOS DE LISTA**

In [46]:
#Creación de Lista
L = ["Michael Jackson", 10.1, 1982]
print(L)

['Michael Jackson', 10.1, 1982]

In [47]:
#Ejercicio utilizando Index positivos y negativas
print('Mismo elemento usando indexación negativa y positiva:\n Postivo:',L[0],'\n Negativo:' , L[-3]  )
print('Mismo elemento usando indexación negativa y positiva:\n Postivo:',L[1],'\n Negativo:' , L[-2]  )
print('Mismo elemento usando indexación negativa y positiva:\n Postivo:',L[2],'\n Negativo:' , L[-1]  )

Mismo elemento usando indexación negativa y positiva:
 Postivo: Michael Jackson
 Negativo: Michael Jackson
Mismo elemento usando indexación negativa y positiva:
 Postivo: 10.1
 Negativo: 10.1
Mismo elemento usando indexación negativa y positiva:
 Postivo: 1982
 Negativo: 1982

In [51]:
#Listas que contienen Tuples y otras Listas
L = ["Michael Jackson", 10.1,1982,"MJ",1]
print(L)
print('Imprension con rango:',L[3:5])#Listas utilizando rangos

['Michael Jackson', 10.1, 1982, 'MJ', 1]
Imprension con rango: ['MJ', 1]

In [54]:
#Funcion "extend" es utilizada para añadir valores a la lista. Esto se añadé al final.
L = [ "Michael Jackson", 10.2]
print(L)
L.extend(['pop', 10])
print('Lista despues del extend',L)

['Michael Jackson', 10.2]
Lista despues del extend ['Michael Jackson', 10.2, 'pop', 10]

In [55]:
#Funcion "append" es utilizada para añadir elementos a la lista
L = [ "Michael Jackson", 10.2]
print(L)
L.append(['pop', 10])
print('Lista despues del append',L)

['Michael Jackson', 10.2]
Lista despues del append ['Michael Jackson', 10.2, ['pop', 10]]

**Ya sea append o extend cada vez que aplicamos un método, la lista cambiará**

In [57]:
#Como las listas son mutables, podemos cambiarlas cuando queramos
A = ["disco", 10, 1.2]
print('Lista Original:', A)
A[0] = 'hard rock' #Se esta cambiando el valor que se encuentra en la posición 0
print('Lista Modificada:', A)

Lista Original: ['disco', 10, 1.2]
Lista Modificada: ['hard rock', 10, 1.2]

In [58]:
#Tambien se pueden eliminar elementos de las listas
print('Lista Original:', A)
del(A[0]) #del es un comando reservado para eliminar elementos, en este caso se estan eliminado los valores en la posicion 0
print('Lista Modificada:', A)

Lista Original: ['hard rock', 10, 1.2]
Lista Modificada: [10, 1.2]

In [59]:
#Podemos convertir una cadena en una lista usando split. El método split traduce cada grupo de caracteres separados por un espacio en un elemento de una lista.
'Hola Valeria'.split()

['Hola', 'Valeria']

In [60]:
#Split tambien se utiliza para separar cadenas con un carácter específico (delimitador), utilizamos el carácter que nos gustaría dividir en el argumento de la funcion.
'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

In [61]:
#Las listas tambien pueden copiarse 
A = ["hard rock", 10, 1.2]
B = A #La variable B utiliza como referencia el valor de A
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

In [62]:
#Como B esta usando de referencia a A, está al ser modificada tambien cambia el valor de B
print('B[0]:', B[0])
A[0] = "banana"
print('B[0]:', B[0])

B[0]: hard rock
B[0]: banana

In [63]:
#Para no usar referencias y copiar (almacenar) los valores de una lista se utiliza la funcion [:]
B = A[:]
B

['banana', 10, 1.2]

In [65]:
#Al clonar los valores de una lista, al ser modificada la original esta no afectara la copia
print('A[0]:', A[0])
A[0] = "hard rock"  #cambio en la variable A
print('B[0]:', B[0])

A[0]: hard rock
B[0]: banana

**--QUIZ DE LISTAS--**

In [66]:
#Ejercicios del Quiz
a_list = [1, 'hello', [1,2,3],True] #Creación de lista
print(a_list[1]) #Encontrar el primer valor de la lista
print(a_list[1:4]) #Imprimir valores en ese rango

hello
['hello', [1, 2, 3], True]

In [67]:
#Concatenación de Listas
A = [1, 'a']
B = [2, 1, 'd']
A + B

[1, 'a', 2, 1, 'd']

**--EJERCICIOS DE SETS--**

In [71]:
#Codigo para saber la pregunta 1
S={'A','B','C'}
U={'A','Z','C'}
print(U.union(S))

#Codigo para saber la pregunta 2
S={'A','B','C'}
U={'A','Z','C'}

{'Z', 'C', 'B', 'A'}

In [72]:
#La función SET se utiliza para hacer cast de una lista a un Set {conjunto}
set(['A','B','C','A','B','C'])

{'A', 'B', 'C'}

In [73]:
#La funcion ADD sirve para añadir elementos al conjunto
S={'A','B','C'}
S.add('D') 
print(S)

{'B', 'A', 'D', 'C'}

In [74]:
#El simbolo amperson & sirve para encontrar las intersecciones entre dos conjuntos
A={1,2,3,4,5}
B={1,3,9, 12}
A&B

{1, 3}

**--LABORATORIO DE SETS--**

Un conjunto es una colección única de objetos en Python. Son declarados utilizando {}. No contiene elementos duplicados, estos son eliminados:

In [75]:
#Creación de Conjunto
set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [78]:
#Conversion de una Listas a un Set's
album_list = ["Michael Jackson","Thriller",1982,"00:42:19","Pop, Rock, R&B",46.0,65,"30-Nov-82",None,10.0]
album_set = set(album_list)             
print(album_set)

music_genres = set(["pop", "pop", "rock", "folk rock", "hard rock", "soul","progressive rock", "soft rock", "R&B", "disco"])
print(music_genres)

{None, 65, 'Michael Jackson', 10.0, 46.0, '30-Nov-82', 1982, 'Thriller', 'Pop, Rock, R&B', '00:42:19'}
{'hard rock', 'disco', 'pop', 'folk rock', 'soft rock', 'rock', 'R&B', 'progressive rock', 'soul'}

In [80]:
#OPERACIONES CON SET
A = set(["Thriller", "Back in Black", "AC/DC"]) #Declaracion del conjunto
print('Original',A)

A.add("NSYNC")  #Si se intenta añadir dos veces el mismo Valor este solo será añadido una vez
print('Valor Añadido',A)

A.remove("NSYNC") #Remove se utiliza para eliminar valores dentro de un conjunto
print('Valor Elimnado',A)

print("AC/DC" in A) # In es utilizado para validar que un valor se encuentre dentro del conjunto

Original {'AC/DC', 'Back in Black', 'Thriller'}
Valor Añadido {'AC/DC', 'Back in Black', 'Thriller', 'NSYNC'}
Valor Elimnado {'AC/DC', 'Back in Black', 'Thriller'}
True

In [91]:
#OPERADORES LOGICOS CON SET
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black']) #Declaracion de conjuntos 1 y 2
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])
print(album_set1, album_set2) 

interseccion = album_set1 & album_set2 #Simbolo & es utilizado para encontrar los valores comunes
print('Interseccion',interseccion)
album_set1.intersection(album_set2)  #intersection tambien es utilizado para encontrar los valores comunes

print('Elementos en el set 1, que no estan en el 2',album_set1.difference(album_set2))  #DIFFERENCE : esta funcion es utilizada para encontrar las diferencias entre ambos conjuntos
print('Elementos en el set 2, que no estan en el 1',album_set2.difference(album_set1))

print('Unión de conjuntos',album_set1.union(album_set2)) #Contiene TODOS los valores de ambos conjuntos

{'AC/DC', 'Back in Black', 'Thriller'} {'AC/DC', 'Back in Black', 'The Dark Side of the Moon'}
Interseccion {'AC/DC', 'Back in Black'}
Elementos en el set 1, que no estan en el 2 {'Thriller'}
Elementos en el set 2, que no estan en el 1 {'The Dark Side of the Moon'}
Unión de conjuntos {'Back in Black', 'Thriller', 'AC/DC', 'The Dark Side of the Moon'}

In [92]:
#EJERCICIOS DE CONJUNTOS
print('Superset',set(album_set1).issuperset(album_set2))  #Comprueba si es un super set 
print('Subset',set(album_set2).issubset(album_set1)) #Comprueba si es un sub set 

print('Subset',set({"Back in Black", "AC/DC"}).issubset(album_set1))
print('Superset',album_set1.issuperset({"Back in Black", "AC/DC"}))

Superset False
Subset False
Subset True
Superset True

**--QUIZ DE SETS--**

In [93]:
set(['rap','house','electronic music', 'rap']) #Declaracion del conjunto, siempre se utilizan paretensis antes de poner la lista

#Suma de una lista con un conjunto
A = [1, 2, 2, 1]  
B = set([1, 2, 2, 1])
print("La suma de A es:", sum(A))
print("La suma de B es:", sum(B)) #La suma de B es menor ya que se eliminan los duplicados

La suma de A es: 6
La suma de B es: 3

In [96]:
#Creacion de un nuevo set a partir de la Union de A y B
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

album_set3 = album_set1.union(album_set2)
print(album_set3)

print('El album 1 es un subconjunto de album 3:',album_set1.issubset(album_set3))

{'Back in Black', 'Thriller', 'AC/DC', 'The Dark Side of the Moon'}
El album 1 es un subconjunto de album 3: True

**--EJERCICIOS DE DICCIONARIOS--**

Para crear un diccionario, usamos corchetes y dos puntos {Clave:Valor}. Las claves son los primeros elementos; deben ser inmutables y únicos. Cada clave va seguida de un valor separado por dos puntos. Los valores pueden ser inmutables y duplicados. Cada par de clave y valor está separado por una coma.

In [98]:
D = {'a':0,'b':1,'c':2}
D['b']

1

**--LABORATORIO DE DICCIONARIOS--**

In [99]:
#EJERCICO DE DICCIONARIOS
D={'a':0,'b':1,'c':2} #Declaracion de Diccionario
print('Valor de a',D['a']) #Toma el valor de la clave en los corchetes

print('Claves',D.keys()) # Claves : Retorna las claves de la lista
print('Valores',D.values()) # Values : Retorna los valores de la lista

Valor de a 0
Claves dict_keys(['a', 'b', 'c'])
Valores dict_values([0, 1, 2])

**--QUIZ DE DICCIONARIOS--**

In [100]:
#Ejercicio 1
soundtrack_dic = {"The Bodyguard":"1992", "Saturday Night Fever":"1977"} #Definicion de Diccionario
soundtrack_dic

{'The Bodyguard': '1992', 'Saturday Night Fever': '1977'}

In [101]:
print('Claves',soundtrack_dic.keys()) #Entontrar las claves
print('Valores',soundtrack_dic.keys()) #Encontrar los valores

Claves dict_keys(['The Bodyguard', 'Saturday Night Fever'])
Valores dict_keys(['The Bodyguard', 'Saturday Night Fever'])

In [102]:
#Ejercicio 2
album_sales_dict = {"The Bodyguard":50, "Back in Black":50, "Thriller":65} #Definicion de Diccionario
print(album_sales_dict["Thriller"]) #Encuentra el valor de Thriller
print('Llaves',album_sales_dict.keys())
print('Valores',album_sales_dict.values())

65
Llaves dict_keys(['The Bodyguard', 'Back in Black', 'Thriller'])
Valores dict_values([50, 50, 65])