<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-A01793006/blob/main/Modulo01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Apuntes**: El poder y la flexibilidad con miles de bibliotecas lo hicieron el lenguaje elegido por científicos de datos, ingenieros, analistas e investigadores de IA en empresas líderes y nuevas por igual. Python es esencial para cualquier persona que trabaje con datos.

In [ ]:
print ("Hello Python 101")

Hello Python 101

* **Argummento**: Valor en el paréntesis
* **Comentario**: Ayuda a saber a otros que estas haciendo (# cuando ejecutas el código es ignorado)
* Un **error sintáctico** es cuando Python no entiende el código.
* Un **error semántico** es cuando la lógica es incorrecta. (no hay mensaje de error)

In [ ]:
print("Hello\nWorld!")

Hello
World!

* **\n** : funciona commo un salto de renglón
* **#*** : cualquier cosa puesta despues de # no sera ejecutado

In [ ]:
type("1.1")

str

* **type**: te ayuda a saber el tipo de dato

In [ ]:
print(bool(int(0)))

False

* **bool(1)** : sirve para cambiar el tipo de dato a boolean

In [ ]:
int(9.80) #Solo toma el primer digito (convierte a entero)
float(83) #Solo el añade .00 (convierte a flotante)

83.0

* **cast** te ayuda a cambiar el tipo de dato

In [ ]:
import sys
print(sys.version)

#Este fragmento sirve para saber que version de Python se esta ejecudando

3.7.14 (default, Sep  8 2022, 00:06:44)
[GCC 7.5.0]

In [ ]:
11      #los numeros enteros son integer
5.14    #los numeros decimales son flotantes
"Hola"  #los textos, palabras o letras son string

'Hola'

In [ ]:
print(type(11)) 
print(type(2.5))
print(type("d"))

#Type te ayuda saber el tipo de dato

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
print(type(-5.0))
print(type(5.0))
print(type(0.5))
print(type(0.97))
print(sys.float_info)

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

* **int**: pueden ser numeros positivos, negativos o ceros

In [ ]:
print(float(5))
print(type(float(5)))

#añadir el tipo de dato antes del valor que se desea convertir genera un cast, en este ejemplo se estan cambiando int a float

print("\n")
print(int(7.5))

#poner int antes cambia transforma el float a int, esto podria generar perdida de datos

5.0
<class 'float'>


7

Los ejemplos de arriba son para hacer cambios de tipo en numero.
* **usar int antes de un flotante** hace que el flotante se convierta en integrer
* **usar float antes de un integer** hace que el integer se convierta en flotante

In [ ]:
print(int('18'))
print(float('1.2'))

#print(int('1 or 2 people'))
#print(int("5.5"))

18
1.2

Los ejemplos de arriba son para cambiar convertir valores string a flotante o entero

**Para que la conversion funcioné los valores deben hacer match perfecto con el tipo de dato al que se quiere cambiar, como sucedió con las últimas dos lineas**

In [ ]:
print(str(13))
print(str(1.23))

13
1.23

De forma inversa, tambien los float e integeres pueden hacerse transformarse a strings.

In [ ]:
print(type(True))    #Los valores True y False son reservados a Type booleano
print(type(False))   
print(int(True))     #El valor de True es 1, por lo que al hacer cast a integer se imprime el numero 1
print(bool(1))       
print(bool(0))       #El valor de False es 0, por lo que se imprime el numero 0
print(float(False))  #El valor de False puede ser convertido a tipo flotante por lo que se convierte en 0.0

<class 'bool'>
<class 'bool'>
1
True
False
0.0

Ejercicios para explorar el tipo de **valor booleano**.

In [ ]:
print(type(6/2))   #Al utilizarse un solo / el tipo de dato es flotante
print(type(6//2))   #Al utilizarse dos // el tipo de dato es entero

<class 'float'>
<class 'int'>

Ejercicios para explorar las funciones de **type**.

In [ ]:
print(93 + 40 + 66 + 44) #Operador de suma
print(978-842)           #Operador de resta
print(8*8)               #Operador de multiplicación
print(90/9)              #Operador de división con resultado float
print(90//9)             #Operador de división con resultado integer
print(31/6)         
print(31//6)             #El // es utilizado para obtener resultado integer

243
136
64
10.0
10
5.166666666666667
5

Los ejercicios de arriba ejemplifican los operadores básicos.
El uso de la doble diagonal **//** da como resulado el valor integer de la division independiente del resulado.

In [ ]:
print(30 + 2 * 60)
print((30 + 2) * 60)

150
1920

Los ejercicios de arriba ejemplifican expresiones matemáticas

In [ ]:
x = 33 + 68 + 56 + 54 #Expresiones pueden ser utilizadas para almacenar el resultao en una vabiable
print (x)

y = x / 75 #Otra variable puede ser utilizda para calcular el valor de una nueva
print (y)

x = x/75  #Si se almacena un nuevo valor en la variable, el valor anterior es sustituido
print (x)

211
2.8133333333333335
2.8133333333333335

Los ejercicios de arriba ejemplifican el uso de variables.

In [ ]:
Minutos_Totales = 33 + 45 + 53 #Como se mencion, el resultado de una expresion puede ser una variable
print(Minutos_Totales)

Horas_Totales = Minutos_Totales / 60  
print(Horas_Totales)

Horas_Totales = (33 + 45 + 53) / 60  #Las expresiones pueden ser utilizadas directamente sin tener que ser 
print(Horas_Totales)                 #almacenadas en una variable previamente y el resultado será el mismo

131
2.183333333333333
2.183333333333333

**NOTA: Una buena practica es ponerle nombres útiles a las variables**

In [ ]:
#Inserto mi ejercicio final del Modulo 1.
x = (4 + 5 * 7)
print(x)

y = (4 + 5) * 7
print(y)

z = x + y
print (z)

39
63
102

**Tambien pueden ser utilizadas únicamente variables para encontrar un nuevo valor**

In [7]:
3 + 2 * 2

7

In [2]:
name = 'Lizz'
print(name[0:2])

Li

In [3]:
var = '01234567'
print(var[::2])

0246

In [4]:
'1'+'2'

'12'

In [6]:
myvar = 'hello Valeria'
myvar.upper()

'HELLO VALERIA'

Códigos de preguntas finales